.ProductList {
	margin: 40px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	flex-grow: 1;

	&__List {
		display: grid;
		grid-template-columns: repeat(auto-fit, 300px);
		justify-content: center;
		gap: 10px;
		width: 100%;
	}
}