.ProductCarousel {
	position: relative;

	&__Text {
		z-index: 2;
		cursor: pointer;
		text-align: center;
	}

	&__Overlay {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: linear-gradient(rgba(black, 0) 50%, rgba(black, 0.8));
	
		z-index: 1;
	}

	img {
		height: 500px;
	  width:1100px;
		z-index: 0;
	}

	
}
